<template>
    <div>
        <h1>Home</h1>
        <p>Select project above</p>
    </div>
</template>

<script>
    export default {
        name: 'Home',
    }
</script>

<style scoped>
    div {
        text-align: center;
    }
</style>
