<template>
    <div class="project-navigation-wrap">
        <nav>
            <ul>
                <li v-for="project in projects" :key="project.id">
                    <router-link :to="{name: 'project', params: {id: project.id}}">{{ project.title }}</router-link>
                </li>
            </ul>
        </nav>
        <router-view class="project-view"></router-view>
    </div>
</template>

<script>
    import ProjectService from "@/services/ProjectService";

    export default {
        name: 'ProjectsNavigation',
        data: function () {
            return {
                projects: ProjectService.getData(),
            };
        },
    };
</script>

<style scoped>
    .project-navigation-wrap {
        flex-basis: 100%;
        display: flex;
    }

    nav {
        flex-basis: 300px;
        border-right: 1px solid #ccc;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        display: block;
        text-align: left;
    }

    .project-view {
        flex-basis: 100%;
    }
</style>
