<template>
    <div>
        <h1>Projekt: {{ project.title }}</h1>
        <select>
            <option v-for="branch in branches" :value="branch" :key="branch">{{ branch }}</option>
        </select>
    </div>
</template>

<script>
    import ProjectService from "@/services/ProjectService";

    export default {
        name: 'Project',
        props: {
            id: Number,
        },
        data() {
            return {
                branches: [],
                project: {},
            }
        },
        mounted() {
            this.project = ProjectService.getById(parseInt(this.id));
            this.branches = this.getBranches();
        },
        methods: {
            getBranches: function () {
                return ['develop', 'release/13', 'feature/BJBGW-999']
            }
        }
    }
</script>

<style scoped>
</style>
