<template>
    <div id="app">
        <div class="logo">
            <router-link :to="{name: 'home'}">git fleet</router-link>
        </div>
        <div class="view">
            <ProjectsNavigation/>
        </div>
    </div>
</template>

<script>
    import ProjectsNavigation from "@/components/ProjectsNavigation";

    export default {
        name: 'App',
        components: {
            ProjectsNavigation
        }
    }
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        text-align: center;
        color: #2c3e50;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .logo {
        flex-basis: 60px;
    }

    .view {
        flex-basis: 100%;
        flex-direction: column;
        display: flex;
    }
</style>
